html {
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

body {
    margin: 0;
}

.landing {
    font-family: Futura, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
}

.landing-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.landing-container {
    width: 100%;
    height: 95vh;
    margin: none;
    padding: none;
    display: flex;
}

.landing-logo-text, .landing-signin-button {
    color: white;
    margin: 1em;
    font-size: 1.8em;
}

.landing-signin-button {
    font-size: 1.5em;
    padding: 0.5rem;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
}

.landing-signin-button:hover {
    background: white;
    color: #2CD6A9;
}

.mission {
    background: #2CD6A9;
    position: relative;
    flex-direction: column;
}

.snapshot {
    background: whitesmoke;
    color: DimGray;
    justify-content: flex-end;
}

.recommend {
    background: tomato;
    color: white;
}

.customize {
    background: whitesmoke;
    color: DimGray;
    justify-content: flex-end;
}

.track {
    background: #29339B;
    color: white;
}

.landing-mission {
    margin-top: 7vh;
    text-align: left;
    align-items: center;
    font-size: 2.5rem;
}

.landing-mission-subtitle {
    margin-top: 2vh;
    text-align: left;
    font-size: 1.5rem;
    color: white;
}

.landing-mission, .landing-mission-subtitle {
    margin-left: 20px;
    margin-right: 20px;
}

.landing-content {
    margin: 3em;
    margin-top: 10vh;
    max-width: 70vw;
}

.landing-content-title {
    font-size: 2rem;
}

.landing-content-text {
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: lighter;
}

.circle-image {
    width: 10em;
    height: 10em;
    position: absolute;
    top: 60vh;
    left: 6vh
}

.mission-image {
    max-width: 8em;
    position: absolute;
    top: 60vh;
    left: 10vh
}

.snapshot-image {
    max-width: 12em;
    position: absolute;
    top: 150vh;
    left: 25vw;
}
.recommend-image {
    max-width: 40vh;
    position: absolute;
    top: 250vh;
    left: 8vw;
}
.customize-image {
    max-width: 40vh;
    position: absolute;
    top: 340vh;
    left: 12vh;
}
.track-image {
    max-width: 40vh;
    position: absolute;
    top: 430vh;
    left: 8vw;
}

@media (min-width: 1024px) {
    .landing-mission {
        margin-top: 20vh;
        font-size: 4vw;
    }
    .landing-mission-subtitle {
        font-size: 2.5vw;
    }
    .landing-mission, .landing-mission-subtitle {
        margin-left: 80px;
    }
    .landing-content {
        margin: 4em;
        margin-top: 35vh;
        max-width: 40vw;
    }
    .landing-content-title {
        font-size: 4vw;
    }
    .landing-content-text {
        margin-top: 1em;
        font-size: 2vw;
        font-weight: lighter;
    }
    .circle-image {
        width: 30vw;
        height: 30vw;
        position: absolute;
        top: 25%;
        left: 65%;
    }
    .mission-image {
        max-width: 25vw;
        position: absolute;
        top: 30%;
        left: 70%;
    }
    .snapshot-image {
        max-width: 25vw;
        position: absolute;
        top: 120%;
        left: 8%;
    }
    .recommend-image {
        max-width: 40vw;
        position: absolute;
        top: 200%;
        left: 50%;
    }
    .customize-image {
        max-width: 40vw;
        position: absolute;
        top: 300%;
        left: 5%;
    }
    .track-image {
        max-width: 40vw;
        position: absolute;
        top: 390%;
        left: 50%;
    }
}

/* 
.landing-title-container .landing-logo-text h1 {
    color:white;
    margin:1rem;
    font-size:3rem;
}

.landing-title-container .landing-signin-container {
    width:50%;
    display:flex;
    justify-content:flex-end;
}

.landing-title-container .landing-signin-container .landing-signin-button h3 {
    color:white;
    background-color:#A5D38C;
    border:2px solid white;
    border-radius:10%;
    padding-left:1rem;
    padding-right:1rem;
    padding-top:.3rem;
    padding-bottom:.3rem;
    margin:1rem;
    font-size:1.4rem;
}

.landing-title-container .landing-signin-container .landing-signin-button h3:hover {
    background-color:white;
    color:#A5D38C;
}

.landing-title-container .landing-mission {
    height:75%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.landing-title-container .landing-mission h1 {
    color:white;
    font-size:3rem;
}

.landing-container.snapshot {
    height:90vh;
    width:100%;
    background-color:#DBD8B3;
    display:flex;
    flex-wrap:nowrap;
    position:relative;
}

.landing-container .landing-content {
    padding:5rem;
}

.landing-container .landing-content p {
    text-align:left;
    font-size:2rem;
    color:white;
    line-height:1.5em;
}

.landing-container .landing-content h1.landing-h1.snapshot {
    color:white;
}

.landing-image-container,
.landing-content {
    width:50%;
    height:100%;
    padding:3em;
    
}

.landing-container .landing-image-container .landing-image {
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    height:100%;
    width:90%;
    top:3rem;
    z-index:1;
}

.landing-container.track {
    height:90vh;
    width:100%;
    background-color:#FCC8B2;
    display:flex;
    flex-wrap:nowrap;
    position:relative;
    padding-top:3rem;
}

.landing-container.track .landing-image-container {
    position:relative;
    display:flex;
}

.landing-container.track .landing-content h1.landing-h1.track {
    color:white;
}

.landing-container.track .landing-content p.landing-content-track {
    color:white;
}

.landing-container.customize {
    height:90vh;
    width:100%;
    background-color:#EFA48B;
    display:flex;
    flex-wrap:nowrap;
}

.landing-container.customize .landing-content h1.landing-h1.customize {
    color:white;
}

.landing-container.customize .landing-image-container {
    position:relative;
} */